<<<<<<< HEAD
- var items = [{ titulo : "Pfeiffer Beach, Big Sur, CA", descripcion : "Atardecer magnífico", latLng : "0,-38", imagen : "/images/toronto_thumb.jpg" },{ titulo : "Kaieteur Falls, Guyana", descripcion : "Cataratas", latLng : "latLng", imagen : "/images/toronto_thumb.jpg" },{ titulo : "Shinjang, China", descripcion : "Tranquilidad", latLng : "latLng", imagen : "/images/toronto_thumb.jpg" },{ titulo : "Melbourne VIC Australia", descripcion : "Una vista genial", latLng : "latLng", imagen : "/images/toronto_thumb.jpg" }]
=======
- var items = [{ titulo : "Toronto", descripcion : "Loremp ipsum", latLng : "0,-38", imagen : "/images/toronto_thumb.jpg" },{ titulo : "Toronto", descripcion : "Loremp ipsum", latLng : "latLng", imagen : "/images/toronto_thumb.jpg" },{ titulo : "Toronto", descripcion : "Loremp ipsum", latLng : "latLng", imagen : "/images/toronto_thumb.jpg" },{ titulo : "Toronto", descripcion : "Loremp ipsum", latLng : "latLng", imagen : "/images/toronto_thumb.jpg" }]
>>>>>>> upstream/master
ul(id="places")
    each item in items
        li
            a(href="#",title=item.titulo,data-latlng=item.latLng)
<<<<<<< HEAD
                img(src=item.imagen,width="100",height="100",alt=item.titulo)
                div
                    div(class="center")
                        h3= item.descripcion
                        p= item.titulo
=======
                img(src=item.imagen,width="52",alt=item.titulo)
                div
                    h3= item.titulo
                    p= item.descripcion
>>>>>>> upstream/master
